$colorNegroEspacial: #0B0C10;
$colorAzulProfundo: #1F2833;
$colorGrisNebuloso: #C5C6C7;
$colorAzulEstelar: #66FCF1;
$colorMoradoGalactico: #45A29E;
$colorPlateadoCosmico: #F8F8F8;
$colorNaranjaCrepuscular: #FFA500;
$colorBlancoTexto: #F2F2F2