@import "./styles-colors.scss";

// Ajuste del contenedor principal
.homePage {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    background-color: rgba($colorNegroEspacial, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow-y: auto; // Scroll interno si el contenido es muy largo
    max-height: 85vh; // Ajusta la altura a un porcentaje más bajo del viewport para dispositivos altos

    @media (max-width: 1024px) {
        max-height: 80vh; // Ajustes para resoluciones menores
        padding: 1rem;
    }

    @media (max-width: 768px) {
        max-height: 70vh;
        padding: 1rem;
    }
}

.heading {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $colorBlancoTexto;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.formGroup {
    margin-bottom: 1rem;
    width: 100%; // Asegura que cada input tome el ancho completo en pantallas pequeñas

    @media (max-width: 768px) {
        margin-bottom: 0.75rem;
    }
}

.formGroupLabel {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: $colorGrisNebuloso;

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.formGroupInputText {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $colorGrisNebuloso;
    border-radius: 4px;
    width: 100%;

    @media (max-width: 768px) {
        font-size: 0.9rem;
    }
}

.formGroupInputCheckbox {
    align-self: center;
}

.submitButton,
.randomButton {
    background-color: $colorAzulProfundo;
    color: $colorBlancoTexto;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $colorAzulEstelar;
    }

    @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    @media (max-width: 768px) {
        flex-direction: column; // Pone los botones uno debajo del otro
    }
}

.buttonWrapper {
    flex: 1;
}

.randomButtonWrapper {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 768px) {
        justify-content: center;
        margin-bottom: 1rem; // Añade espacio inferior entre los botones
    }
}

.submitButtonWrapper {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.randomButton {
    background-color: $colorNaranjaCrepuscular;
    color: $colorBlancoTexto;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;

    &:hover {
        background-color: darken($colorNaranjaCrepuscular, 10%);
    }

    @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

.submitButton {
    background-color: $colorNaranjaCrepuscular;
    color: $colorBlancoTexto;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;

    &:hover {
        background-color: darken($colorNaranjaCrepuscular, 10%);
    }

    @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imageHomePlanetInputHomePage,
.imageDestinationInputHomePage {
    max-width: 5rem;
}

.btnModalCabinDeckInputHomePage {
    background-color: $colorBlancoInput;
}

.btnModalCabinDeckInputHomePage:hover {
    color: $colorNegroEspacial;
    background-color: $colorGrisNebuloso;
}

.modalCabinDeck {
    background-image: url("../assets/images/rocketImageBg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 34rem;
    max-height: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleModalCabinDeck {
    color: $colorNegroEspacial;
}

.deckButton {
    position: absolute;
    background-color: rgba($colorAzulProfundo, 0.7);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;

    &:hover {
        background-color: rgba($colorAzulProfundo, 0.9);
        transform: scale(1.05);
    }
}

/* Posicionamiento de los botones según los niveles del cohete */
.deckA {
    top: 88%;
    /* Nivel más bajo del cohete */
    left: 51%;
    transform: translateX(-50%);
}

.deckB {
    top: 77%;
    left: 51%;
    transform: translateX(-50%);
}

.deckC {
    top: 66%;
    left: 51%;
    transform: translateX(-50%);
}

.deckD {
    top: 54%;
    left: 51%;
    transform: translateX(-50%);
}

.deckE {
    top: 42.5%;
    left: 51%;
    transform: translateX(-50%);
}

.deckF {
    top: 31%;
    left: 51%;
    transform: translateX(-50%);
}

.deckG {
    top: 19.5%;
    left: 51%;
    transform: translateX(-50%);
}

.deckT {
    top: 8%;
    left: 51%;
    transform: translateX(-50%);
}

.active {
    background-color: rgba($colorNegroEspacial, 1);
    color: $colorBlancoTexto;
    border: $colorBlancoTexto;
}

.modalCabinSide {
    background-image: url("../assets/images/rocketSideBg.png"); // Cambia la imagen si es necesario
    background-position: center;
    background-repeat: no-repeat;
    height: 34rem; // Ajusta según el tamaño de la imagen o el modal
    max-height: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleModalCabinSide {
    color: $colorNegroEspacial;
}

.sideButton {
    position: absolute;
    background-color: rgba($colorAzulProfundo, 0.7);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: rgba($colorAzulProfundo, 0.9);
        transform: scale(1.1);
    }
}

/* Posicionamiento de los botones para CabinSide (izquierda y derecha) */
.sideP {
    left: 20%;
}

.sideS {
    right: 20%;
}

.active {
    background-color: rgba($colorNegroEspacial, 1);
    color: $colorBlancoTexto;
    border: $colorBlancoTexto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Fondo oscuro con opacidad
    z-index: 999; // Asegura que el loader esté por encima de todo
    display: flex;
    align-items: center;
    justify-content: center;
}

.rocket {
    width: 10rem;
    background-image: url('../assets/images/rocketLoader.png'); // Imagen del cohete
    background-size: contain;
    background-repeat: no-repeat;
}

.backdropBlur {
    backdrop-filter: blur(200px);
    /* Aplica el desenfoque al fondo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    /* Asegura que esté por debajo del modal */
    background-color: rgba(0, 0, 0, 0.8);
    /* Añade una capa semitransparente oscura */
}

/* Estilo del modal para resaltar */
.modal-content {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Añade sombra al modal */
    border-radius: 10px;
    /* Bordes redondeados */
    z-index: 1055;
    /* Asegura que el modal esté sobre el backdrop */
}

.modalResult {
    background-image: url("../../public/spaceBg.webp");
}

/* Asegura que el modal esté centrado correctamente */
.modal-dialog {
    margin-top: 15%;
}

.btnModalResult {
    background-color: $colorNaranjaCrepuscular;
    color: $colorBlancoTexto;
    border: none;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;

    &:hover {
        background-color: darken($colorNaranjaCrepuscular, 10%);
    }
}